runs/*
__pycache__/*
data/*
models/__pycache__/*
checkpoints/*
VINE/__pycache__/*

*.png


#dir
plot/*
evaluate/visualize*
evaluate/evaluate_clean_model.py
models/*Net.py
*_watermarking.py
src/*
data/*


## output_dir
ckpt/*
results/*
instruct-pix2pix-model/*
stega_instruct-pix2pix-model/*
VINE-B_instruct-pix2pix-model/*
Analysis_latent/*
wandb/*
quality_results_check/*



# file
ViT-L-14.pt
badedit.py
test.ipynb